/* /Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-us2wxkoraj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-us2wxkoraj] {
  color: #0077cc;
}

.btn-primary[b-us2wxkoraj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-us2wxkoraj], .nav-pills .show > .nav-link[b-us2wxkoraj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-us2wxkoraj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-us2wxkoraj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-us2wxkoraj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-us2wxkoraj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-us2wxkoraj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Định dạng chung cho các nút */
.nav-item[b-us2wxkoraj] {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
}

/* Hiệu ứng nền xanh cho nút đang chọn (giống trong image_2ede15.png) */
.nav-item.active[b-us2wxkoraj] {
    background-color: #e8eaf6; /* Màu nền nhạt */
    color: #2962ff;           /* Màu chữ xanh đậm */
}

/* Hiệu ứng khi di chuột vào */
.nav-item:hover[b-us2wxkoraj] {
    color: #2962ff;
}

